<p>
  <strong><%= comment.commenter %> : </strong>
  <%= comment.body %><br>
  <%= if comment.user_id == current_user.id || comment.article.user_id == current_user.id then link_to 'Delete', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } end %>
</p>
 