<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<% if current_user %>
  Logged in as <%= current_user.fullname %>.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <% controller.redirect_to login_path %>
<% end %>
<h1>Listing articles</h1>
 
<%= link_to 'New article', new_article_path %> | <%= link_to 'My Articles', articles_myindex_path %>
<table border="1">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Author</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article_path(article) %></td>
      <td><%= article.text %></td>
      <td><%= article.user.fullname %></td>
      <%
=begin%>
 <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td> 
<%
=end%>
    </tr>
  <% end %>
</table>