<% if current_user %>
  Logged in as <%= current_user.fullname %>.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= redirect_to login_path %>
<% end %>
<p>
  <h1><%= @article.title %></h1>
</p>

<%= image_tag image_url(@article.image) unless @article.image.nil? %>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h3>Comments</h3>
<%= render @article.comments %>

<h4>Add a comment:</h4>
<%= render 'comments/form' %>

<%= if @article.user_id == current_user.id then link_to 'Edit', edit_article_path(@article) end %>
<%= if @article.user_id == current_user.id then '|' end %>
<%= link_to 'Back', articles_path %>