<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<% if current_user %>
  Logged in as <%= current_user.fullname %>.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <% controller.redirect_to login_path %>
<% end %>

<h1>Hello Rails</h1>
<%= link_to 'My Blog', controller: 'articles' %>
